<h1>Home</h1>

<button id="hit">Hit</button>

@section Scripts{
    <script type="text/javascript">
        require(["beeGame"], function (beeGame) {
            beeGame.init();
        });
    </script>
}
