<h1>Home</h1>

<div id="hive" data-bind="foreach: bees">
    <div class="bee">
        <img data-bind="attr: {src: '/images/' + image }" />
    </div>
</div>

<button id="hit">Hit</button>

@section Scripts{
    <script type="text/javascript">
        require(["beeGame"], function (beeGame) {
            beeGame.init();
        });
    </script>
}
