<h1>Home</h1>

<div data-bind="foreach: bees">
    <div data-bind="text: type + '(' + health() + ')'"></div>
</div>

<button id="hit">Hit</button>

@section Scripts{
    <script type="text/javascript">
        require(["beeGame"], function (beeGame) {
            beeGame.init();
        });
    </script>
}
